http://piwik.localhost, piwik.solsort.com {
  proxy / http://piwik {
    proxy_header Host {host}
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
  }
  cors
}
http://annevoel.localhost, annevoel.solsort.com {
  proxy / http://annevoel {
    proxy_header Host {host}
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
  }
  cors
}
http://rasmuserik.localhost, rasmuserik.solsort.com, blog.rasmuserik.com {
  proxy / http://rasmuserik {
    proxy_header Host {host}
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
  }
  cors
}
http://mysql.localhost, mysql.solsort.com {
  proxy / http://mysql-admin
}
http://couch.localhost, couch.solsort.com {
  cors
  proxy / http://couchdb:5984
}
http://tinkuy-forum.localhost, tinkuy-forum.solsort.com, forum.tinkuy.dk {
  proxy / http://tinkuy-nodebb:4567 {
    websocket
  }
}
